<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Organisation Registeration</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class = "Registeration">
        <form action ="" method = "post">
            <input type = "text" placeholder= "Enter Organisation Name" required name ="org_name">
            <input type = "number" placeholder= "Enter contact no." required name ="contactno">
            <input type = "number" placeholder= "Enter GST No." required name ="gstno">
            <input type = "number" placeholder= "Enter ITR No. " required name ="itrno">
            <input type = "password" placeholder= "Create Password" required name ="password1">
            <input type = "password" placeholder= "Confirm Password" required name ="password2">
            <button type="submit">ENROLL</button>

        </form>
    </div>
    
    
</body>
</html>