<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Customer Registeration</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class = "Registeration">
        <form action ="" method = "post">
            <input type = "text" placeholder= "Enter Customer Name" required name ="cus_name">
            <input type = "number" placeholder= "Enter contact no." required name ="contactno">
            <input type = "number" placeholder= "Enter AadharNo" required name ="adharno">
            <input type = "number" placeholder= "Enter PAN details" required name ="panno">
            <input type = "password" placeholder= "Create Password" required name ="password1">
            <input type = "password" placeholder= "Confirm Password" required name ="password2">
            <button type="submit">ENROLL</button>

        </form>
    </div>
    
    
</body>
</html>